.savings {
    padding:30px;
}


.table {
    width: 50%;
    table-layout: fixed;
    font-size: 19px;
}

.th {
    height: 30px;
    text-align: inherit;
    padding: 8px;

}

.td {
    padding:8px;
    border-right: 1px solid #4e5773;
}

.td input:hover {
    cursor: pointer;
}

.table, .th {
    width: 100%;
    border:1px solid #4e5773;
    border-collapse: collapse;
}

.results{
    border-top:1px solid #4e5773;
    font-weight: 600;
}