.title_Text {
    font-size: 19px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.text {
    font-size: 15px;
    margin:11px;
}

.model_performance_wrapper {
    width: 100%;
    margin:0 auto;
    display: flex;
    justify-content: center;
}

.model_performance {
    width: 470px;
    height: 650px;
    border:1px solid #0f1322;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    color:black;
    padding: 30px;
}

.icon_check1 {
    margin-right: 19px;
    font-size: 27px;
    color:#fffffb;
}

.icon_check2 {
    margin-right: 19px;
    font-size: 27px;
    color:#fffffb;
}

.icon_check3 {
    margin-right: 19px;
    font-size: 27px;
    color:#fffffb;
}

.icon_check4 {
    margin-right: 19px;
    font-size: 27px;
    color:#fffffb;
}

.icon_check5 {
    margin-right: 19px;
    font-size: 27px;
    color:#fffffb;
}

.icon_check6 {
    margin-right: 19px;
    font-size: 27px;
    color:#fffffb;
}

.span {
    font-weight: 100;
}

.title_performance {
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}

.model_accuracy {
    margin:0px;
    text-align: center;
}

.subtitle_model {
    text-transform: uppercase;
    text-align: center;
}

.cm_wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
    margin-bottom:50px;
}

.confussion_matrix {
    width: 400px;
    height: auto;
    border:1 px solid black;
    display: flex;
    flex-wrap: wrap;
}

.true_negatives, .true_positives, .false_negatives, .false_positives {
    width: 200px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.true_positives, .true_negatives {
    background:#59c9a5;
}

.false_positives, .false_negatives {
    background:#d72638;
}


.true_positives {
    padding:1px;
}

.false_positives {
    padding:1px;
}

.true_negatives {
    padding:1px;
}

.false_negatives {
    padding:1px;
}

.text_cm {
    font-size: 12px;
    color:white;
    font-weight: 600;
    text-transform: uppercase;
    margin:0;
    margin-top:10px;
}