.wrapper {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin:30px auto;
    text-align: center;
}

.plot {
    width: 50%;
    margin:0 auto;
    text-align: center;
}

.img {
    width: 500px;
    height: auto;
}